/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Transparent/None

#define _____ &trans
#define xxxxx &none

// Layers

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

&mt {
    tapping-term-ms = <200>;
};

/ {
    // Activate ADJUST layer by pressing raise and lower

    conditional_layers {
        compatible = "zmk,conditional-layers";

        adjust_layer {
            if-layers = <LOWER RAISE>;
            then-layer = <ADJUST>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  TAB    |  Q  |  W  |  E  |  R  |  T  |                                      |  Y  |  U   |  I    |  O  |  P  |   \  |
            // |CTRL(ESC)|  A  |  S  |  D  |  F  |  G  |                                      |  H  |  J   |  K    |  L  |  ;  |   '  |
            // | SHIFT   |  Z  |  X  |  C  |  V  |  B  | L SHIFT | LOWER |  | RAISE | L SHIFT |  N  |  M   |  ,    |  .  |  /  | CTRL |
            //                       | GUI | DEL | RET |  SPACE  |  ESC  |  |  RET  |  SPACE  | TAB | BSPC | R-ALT |

            bindings = <
      &kp TAB  &kp Q  &kp W         &kp E     &kp R      &kp T                                                        &kp Y     &kp U         &kp I    &kp O     &kp P      &kp BSLH
&mt LCTRL ESC  &kp A  &kp S         &kp D     &kp F      &kp G                                                        &kp H     &kp J         &kp K    &kp L  &kp SEMI       &kp SQT
 &kp QUESTION  &kp Z  &kp X         &kp C     &kp V      &kp B       &mo 1   &kp LGUI   &kp QUESTION       &mo 2      &kp N     &kp M     &kp COMMA  &kp DOT  &kp FSLH  &kp QUESTION
                             &kp QUESTION  &kp LALT  &kp SPACE  &kp LSHIFT  &kp RCTRL  &kp BACKSPACE  &kp RSHIFT  &kp ENTER  &kp RALT  &kp QUESTION
            >;
        };

        lower_layer {
            // TODO: Signs
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  ESC  |  Q  |  W  |  E  |  R  |  T  |                                          |  Y  |  U   |  I    |  O  |  P  |   \  |
            // |  TAB  |  A  |  S  |  D  |  F  |  G  |                                          |  H  |  J   |  K    |  L  |  ;  |   '  |
            // | SHIFT |  Z  |  X  |  C  |  V  |  B  | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N  |  M   |  ,    |  .  |  /  | CTRL |
            //                     | GUI | DEL | RET |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB | BSPC | R-ALT |

            bindings = <
     &kp TAB  &kp Q  &kp W   &kp E   &kp R   &kp T                                   &kp Y   &kp U      &kp I    &kp O     &kp P      &kp BSLH
     &kp ESC  &kp A  &kp S   &kp D   &kp F   &kp G                                   &kp H   &kp J      &kp K    &kp L  &kp SEMI       &kp SQT
&kp QUESTION  &kp Z  &kp X   &kp C   &kp V   &kp B  &trans   &none   &none  &trans   &kp N   &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp QUESTION
                            &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans
            >;
        };

        raise_layer {
            // TODO: F11, F12
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  ESC  |  F1 |  F2 |  F3 |  F4 |  F5 |                                          |  F6 |  F7  |  F8   |  F9 | F10 |   \  |
            // |  TAB  |  1  |  2  |  3  |  4  |  5  |                                          |  6  |  7   |  8    |  9  |  0  |   '  |
            // | SHIFT |  Z  |  X  |  C  |  V  |  B  | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N  |  M   |  ,    |  .  |  /  | CTRL |
            //                     | GUI | DEL | RET |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB | BSPC | R-ALT |

            bindings = <
      &trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                                  &kp F6  &kp F7     &kp F8   &kp F9   &kp F10      &kp BSLH
      &trans  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                                  &kp N6  &kp N7     &kp N8   &kp N9    &kp N0       &kp SQT
&kp QUESTION   &kp Z   &kp X   &kp C   &kp V   &kp B  &trans   &none   &none  &trans   &kp N   &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp QUESTION
                              &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans
            >;
        };

        adjust_layer {
            // TODO: Bluetooth, Volume stuff
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
            //                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |

            bindings = <
      &trans  &kp Q  &kp W   &kp E   &kp R   &kp T                                   &kp Y   &kp U      &kp I    &kp O     &kp P      &kp BSLH
      &trans  &kp A  &kp S   &kp D   &kp F   &kp G                                   &kp H   &kp J      &kp K    &kp L  &kp SEMI       &kp SQT
&kp QUESTION  &kp Z  &kp X   &kp C   &kp V   &kp B  &trans   &none   &none  &trans   &kp N   &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp QUESTION
                            &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans
            >;
        };
    };
};
